:root {

    /* Spacing */

    --space-100: 8px;
    --space-200: 16px;
    --space-300: 24px;
    --space-400: 32px;
    --space-500: 40px;
    --space-600: 48px;
    --space-800: 64px;
    --space-1600: 128px;
    --space-1800: 144px;
    --space-2300: 184px;

    /* Colors */

    --white: #FFFFFF;
    --black: #000000;
    --grey-50: #F4F6FA;
    --grey-500: #626C7F;
    --blue-50: #EBF0FF;
    --blue-100: #EDF1F9;
    --blue-300: #ABC1E1;
    --blue-500: #306AFF;
    --blue-850: #3B4D66;
    --blue-900: #313E51;
    --blue-950: #2D3949;
    --green-100: #E0FDEF;
    --green-500: #2FD887;
    --purple-100: #F6E7FF;
    --purple-600: #A729F5;
    --orange-50: #FFF5ED;
    --orange-400: #FF7E35;
    --red-500: #EE5454;

}

*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Rubik';
    src: url("assets/fonts/Rubik-VariableFont_wght.ttf");
    font-weight: 100 1000;
}

@font-face {
    font-family: 'Rubik italic';
    src: url("assets/fonts/Rubik-Italic-VariableFont_wght.ttf");
    font-weight: 100 1000;
}

body {
    margin: 0;
    background: var(--grey-50) url("assets/images/pattern-background-mobile-light.svg");
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Rubik";
    min-height: 100vh;
}

#main-container {
    height: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    max-width: 1400px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--purple-600);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 72px;
  }

  #toggle-mode-container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  #main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  #hero {
    width: 300px;
  }

  .subject {
    background-color: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0 1rem;
    border-radius: 8px;
    width: 300px
  }

  .subject:hover {
    cursor: pointer;
    box-shadow: rgba(48, 106, 255, 0.25) 2px 2px 5px 2px, rgba(48, 106, 255, 0.25) 2px 2px 3px 2px;
  }

  .subject-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #question-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .select-answer {
    border: 2px solid var(--purple-600);
  }

  input[type="radio"] {
    visibility: hidden;
  }

  input[type="radio"]:checked {
    border: 2px solid var(--purple-600);
  }

  

  #answers {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 1rem;
  }
  
  .lbl-btn {
    border-radius: 8px;
    padding: .75rem;
    display: flex;
    align-items: center;
    background-color: white;
  }

  .lbl-btn:active, .lbl-btn:hover {
    outline: 2px solid var(--purple-600);
  }

  

  .question-icon {
    background-color: var(--grey-50);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #submit-btn {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 18px;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #A729F5;
    color: white;
  }

  /* Typography */

  h1 {
    margin: 1rem 0;
    font-size: 38px;
  }

  #header-top {
    font-weight: 300;
  }

  #header-bottom {
    font-weight: 500;
  }

  #sub-head {
    font-family: "Rubik Italic";
    font-weight: 400;
  }

 h2 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
  }

  progress {
    width: 200px;
    accent-color: var(--purple-600);
  }

  /* Images */

  img {
    max-width: 100%;
  }

  .subject img, .subject-header img {
    border-radius: 8px;
    padding: 5px;
  }

  #html-subject img, #html-header img {
    background-color: var(--orange-50);
  }



  #css-subject img {
    background-color: var(--green-100);
  }

  #js-subject img {
    background-color: var(--blue-100);
  }

  #access-subject img {
    background-color: var(--purple-100);
  }



  @media (min-width: 768px) {
    header {
        padding: 3rem;
    }

    h1 {
        font-size: 66px;
    }

    #hero, .subject {
        width: 80%;
    } 

    main {
        gap: 2rem;
    }

    #main-menu {
        gap: 1.5rem;
    }
  }


  @media (min-width: 1400px) {

    body {
        padding: 5vw;
    }

    main {
        flex-direction: row;
        gap: 0;
    }

    #main-container {
        justify-content: center;
    }
  }